.full-width-table {
  width: 100%;
}

.description {
  max-width: 180px;
}

.edit {
  margin-right: 10px;
}

.edit > i {
  color: #ffd740;
}

.delete > i {
  color: #f44336;
}

.spinner-container {
  height: 100%;
  display: flex;
  justify-content: center;
}
