form {
  margin-top: 20px;
}

mat-form-field {
  display: flex;
  flex-direction: column;
  margin: 5px 0 5px 0;
}

button {
  margin-right: 15px;
  margin-top: 20px;
}

.spinner-container {
  height: 100%;
  display: flex;
  justify-content: center;
}
